@import url(font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Kurale');
@import url('https://fonts.googleapis.com/css?family=Russo+One');
body {
	margin:0px; 
	padding:0px; 
	
	font-family: "Kurale", Helvetica, sans-serif;
	line-height: 1.1;
	font-size: 15pt;
	font-weight: 400; color: #5b4b34;
	background: #f1f1f1 url("../img/bg.jpg") ;
	min-width: 1080px;
	-webkit-text-size-adjust: none;
	-ms-overflow-style: scrollbar;
	*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clear-fix {
	clear: both;
}
.fone {
	padding: 0px;
	background: rgba(255, 255, 255, 0.7);
}
header {
	margin: 0 0 5px;
	background: #6f5f6f url(../img/promo.jpg) no-repeat 0 0;
	background-size: cover;
}
.tbar {
	padding: 5px;
}
.tbar > .col-md-4 {
	padding: 0px;
}
.tbar a{
	color: #3b4a54 !important;
	display: block;
	font-size: 32px;
}
.tbar a:hover{
	color: #1a446b !important;
	display: block;
	font-size: 32px;
}
.tbar a span{
	padding: 7px;
}
.alert {
	margin: 15px 0px 5px;
	padding: 5px;border-radius: 2px;
}
.alert-warning {
	color: #5f4f6f;
	background: #f8cd61;
}
.alert-success {
	color: #f5fffa;
	background: #88cd61;
}
.container { 
	width: 1080px !important;
	font-family: "Kurale", Helvetica, sans-serif;
	line-height: 1.1;
	font-size: 14pt;
	font-weight: 400; color: #5b4b34;
	background: #f1f1f1 url("images/bg.png") ;
	-webkit-text-size-adjust: none;
	-ms-overflow-style: scrollbar;
}
.header-top {
	background: #5f4f6f;
	padding: 7px 30px;
	text-align: center;
	color: white;
}
.header-top span {
	color: #F8CD61;
	padding-right: 10px;
}
.panel-default {
	border: 2px solid #5f4f6f !important;
	background: rgba(255, 255, 255, 0.7);
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.tab-content {
	border: 2px solid #5f4f6f !important;
}
.nav-tabs li a{color: #5f4f6f;border-bottom: 0;text-transform: uppercase;}
.nav-tabs li a:hover{background: #b88da1;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: #5f4f6f;color: #e8ddf1;
    cursor: default;
    border: 0;border-bottom: 2px solid #983d61;
}
.btn-primary {
	background: #5f4f6f;
	border: 2px solid #fff;
	color: #fff;
}
.btn-primary:hover {
	background: #fff !important;
	border: 2px solid #fff;
	color: #5f4f6f;
}
.btn-danger {
	border: 2px solid #a20224;
	background: #c20234;
}
.btn-danger:hover {
	background: #b20224;
}
.btn-success {
	border: 2px solid #228224;
	background: #32a234;
}
.btn-warning {
	border: 2px solid #e57224;
	background: #f58234;
}
.btn-info {
	border: 2px solid #2292b4;
	background: #32a2c4;
input, select, textarea {
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-weight: 400;
}
.course-text{
    padding: 84px;
.badge {font-size: 14px;}
@media screen and (max-width: 1280px) {
body {
	font-size: 12pt;
}
.navbar {
    margin-bottom: 0px;
}
.panel-default{
	border: 1px solid #ddd;
	
@media screen and (max-width: 360px) {
body {
	font-size: 11pt;
}
.panel-auth {
	border-radius: 4px; padding-top: 5px;margin: 10px 0;
	background: rgba(255,255,255,.4);
	box-shadow: 0 0 0 1px rgba(139,111,43,.15),0 1px 3px 1px rgba(0,0,0,.05);
}
.panel-auth-both {
	padding-top: 5px;
	padding-bottom: 5px;
	background: rgba(255,255,255,0.3);
a {
	-moz-transition: color 0.2s ease, border-bottom 0.2s ease;
	-webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
	-ms-transition: color 0.2s ease, border-bottom 0.2s ease;
	transition: color 0.2s ease, border-bottom 0.2s ease;
	text-decoration: none;
	color1: inherit;
}
.panel-auth > .list-group{
	padding: 0;margin: 0;
strong, b {
	font-weight: 400;
}
.panel-auth > .list-group > .list-group-item {
    position: relative;
    display: block;color: #5B4B4C;
    padding: 10px 15px;
	background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    border-bottom: 2px solid  rgba(55,55,55,0.2);
em, i {
	font-style: italic;
}
.btn-radius {
	font-size: 14px; font-weight: 700;
	padding: 5px 15px; margin: 0 10px;
	border-radius: 2em;
p {
	margin: 0 0 2em 0;
}
.btn-group > .btn-radius {
	margin: 0px; display: table-cell;
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	line-height: 1.5;
	margin: 0 0 0.7em 0;
	letter-spacing: -0.025em;
}
input[type="text"], input[type="password"], input[type="email"] {
	width: 100%;
	background: #fff;
	border-radius: 4px;
	height: 40px;
	padding: 0 10px;
	color: #52717a;
	border: 1px solid #e2c6d4;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
	border: 1px solid #bca8ba
}
.btn-success {
	padding: 7px 25px;
	background: #5f4f6f;
	color: #fff;
	font-size: 15px;
	border: none;
	text-align: center;
	text-transform: uppercase;
	border-radius: 4px
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}
input[type="submit"]:hover, input[type="button"]:hover {
	background: #f8cd61;
	color: #5f4f6f;
h1 {font-size: 2.5em;line-height: 1.2;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.25em;}
h4 {font-size: 1.1em;}
h5 {font-size: 0.9em;}
h6 {font-size: 0.7em;}
@media screen and (max-width: 736px) {
h1 {
	font-size: 2em;
}
.table td {
	padding: 3px 5px !important;
}
.table thead tr th {
	background: #5f4f6f !important;
	border-color: #a7969f;
	color: #eee;
/* Icon */
.icon {
	text-decoration: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	border-bottom: none;
	position: relative;
}
.page-header {
	margin: -15px -15px 10px;
	background: #5f4f6f;
	padding-bottom: 9px;
	border-bottom: 4px solid #ffffff;
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.page-header h1 {
	font-size: 1.88em; text-align: center;
	font-weight: 600; margin:0;padding:0;
	color: #fff; text-shadow: #3f2f47 0 2px 2px;
.icon > .label {
	display: none;
}
.content {
	padding: 20px;
	margin: 0px 10px 20px;
	border: 2px solid #5f4f6f;
	background: rgba(230, 216, 245, 0.68);
.icon.major {
	border: #5b4b34 solid 1px !important;
	display: inline-block;background: #fff;
	border-radius: 100%;
	padding: 0.65em;
	margin: 0 0 2em 0;
	cursor: default;
}
.ind-text {
	font-size: 16px;
	color: #fff;
.icon.major:before {
	display: inline-block;
	font-size: 6.25rem;
	width: 2.25em;
	height: 2.25em;
	line-height: 2.2em;
	border-radius: 100%;
	border: #5b4b34 solid 1px !important;
	text-align: center;color: #5b4b34;
background: rgb(253,187,42);
background: -moz-linear-gradient(left, rgba(253,187,42,1) 0%, rgba(234,155,34,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(253,187,42,1)), color-stop(100%,rgba(234,155,34,1)));
background: -webkit-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: -o-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: -ms-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: linear-gradient(to right, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
}
/* cripto*/
@media screen and (max-width: 736px) {
.table-bordered th{
	background: #eee !important;
}
.table-bordered tr td{
	background: #fff !important;
	border-color: #aaa !important;
.icon.major {
	margin: 0 0 1.5em 0;
	padding: 0.35em;
}
/***********************************
Footer
************************************/
.footer {
	padding: 10px 0 10px;
	margin-top: 30px;
	background: #5f4f6f;
	color: #f8cd61;
}
.footer a {
	color: #fff;
.icon.major:before {
	font-size: 3.5rem;
}
.footer h4{
	color: #4f4a4c;
}
.success{
color: #FFFFFF;
background: #70c45d;
width: auto;
}
	.icon.major {
		border-color: rgba(255, 255, 255, 0.35);
	}
.error{
color: #FFFFFF;
background: #c0392b;
width: auto;
}
		.icon.major:before {
			border-color: rgba(255, 255, 255, 0.35);
		}
.errors {
color: #FFFFFF;
background: #c0392b;
height: 50px;
line-height: 50px;
}
/* user list */
	.icon.alt {
		border-color: rgba(255, 255, 255, 0.35);
		color: #ffffff;
	}
.user {
	background: rgba(149, 165, 166, 0);
}
		.icon.alt:hover {
			background-color: rgba(255, 255, 255, 0.075);
		}
.userin {
	margin:0 auto;
	color: #FFFFFF;
	padding-top: 20px;
}
		.icon.alt:active {
			background-color: rgba(255, 255, 255, 0.2);
		}
.user-a {
float: left;
background: rgba(228, 43, 43, 0.54);
border-radius: 4px;
height: 90px;
line-height: 90px;
width: 190px;
}
/* Image */
.user-a2 {
float: left;
background: rgba(255, 132, 0, 0.54);
border-radius: 4px;
height: 90px;
line-height: 90px;
width: 190px;
}
	.image {
		border-radius: 8px;
		border: 0;
		display: inline-block;
		position: relative;
	}
.user-a3 {
float: left;
background: rgba(73, 167, 243, 0.56);
border-radius: 4px;
height: 90px;
line-height: 90px;
width: 190px;
}
		.image img {
			border-radius: 8px;
			display: block;
		}
.user-b {
	float: right;
	background: rgba(218, 11, 192, 0.56);
	border-radius: 4px;
	height: 90px;
	line-height: 45px;
	width: 250px;
	text-align: center;
}
		.image.left, .image.right {
			max-width: 40%;
		}
.top-table {
	width: 100%;
	text-align: center;
	padding-top: 5px;
}
			.image.left img, .image.right img {
				width: 100%;
			}
.top-table-button {
	background: #70c45d;
	height: 28px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
    font-family: Verdana, Helvetica, Arial;
	font-size: 12pt;
	color: #FFFFFF;
}
		.image.left {
			float: left;
			margin: 0 1.5em 1em 0;
			top: 0.25em;
		}
.top-table-buy {
background: #E42B2B;
height: 28px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
    font-family: Verdana, Helvetica, Arial;
font-size: 12pt;
color: #FFFFFF;
}
		.image.right {
			float: right;
			margin: 0 0 1em 1.5em;
			top: 0.25em;
		}
.top-table-payment {
background: #49a7f3;
height: 28px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
    font-family: Verdana, Helvetica, Arial;
font-size: 12pt;
color: #FFFFFF;
}
		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}
.top-table-reinvest {
background: #ff8400;
height: 28px;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
    font-family: Verdana, Helvetica, Arial;
font-size: 12pt;
color: #FFFFFF;
}
			.image.fit img {
				width: 100%;
			}
.top-table-text-1 {
    font-family: Verdana, Helvetica, Arial;
font-size: 11pt;
color: #FFFFFF;
}
		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}
.top-table-text-2 {
height: 37px;
    font-family: Verdana, Helvetica, Arial;
font-weight: bold;
font-size: 13pt;
color: #FFFFFF;
}
			.image.main img {
				width: 100%;
			}
.top-table-text-3 {
    font-family: Verdana, Helvetica, Arial;
	font-size: 12pt;
	color: #FFFFFF;
}
/* List */
.top-table-text-3 a{
	color: #F9FF00;
	text-decoration: underline;
}
	ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}
		ol li {
			padding-left: 0.25em;
		}
/*headerBotContainer*/
.headerContainer {
	width: 100%;
	/*min-height: 74px;*/
	overflow: hidden;
}
.headerInner {
	margin: 0 auto;
	padding: 16px 25px;
}
#logo {
	display: inline-block;
	float: left;
	height: 42px;
	width: 171px;
	background: url(/img/logo.png) transparent no-repeat center;
}
.mainNavRight {
	float: right;
	border: 0;
}
.navbar {
	margin: 0;
	min-height: 30px;
}
.navbar .nav {
	margin: 0;
		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}
			ul.icons li {
				display: inline-block;
				padding: 0 0.65em 0 0;
			}
				ul.icons li:last-child {
					padding-right: 0 !important;
				}
		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}
			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}
				ul.actions li:last-child {
					padding-right: 0;
				}
			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}
			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}
				ul.actions.vertical li:first-child {
					padding-top: 0;
				}
				ul.actions.vertical li > * {
					margin-bottom: 0;
				}
			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}
				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}
			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}
				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}
					ul.actions.fit li > * {
						margin-bottom: 0;
					}
				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}
					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}
			@media screen and (max-width: 480px) {
				ul.actions {
					margin: 0 0 2em 0;
				}
					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}
						ul.actions li:first-child {
							padding-top: 0;
						}
						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}
					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}
						ul.actions.small li:first-child {
							padding-top: 0;
						}
			}
			@media screen and (max-width: 580px) {
		#main > .main {
			padding: 2em 1em 2em 1em !important;
		}
}
.mainNavRight .nav > li {
	text-align: center;
	float: left;
	list-style: none;
	margin-left: 7px;
	dl {
		margin: 0 0 2em 0;
	}
		dl dt {
			display: block;
			font-weight: 400;
			margin: 0 0 1em 0;
		}
		dl dd {
			margin-left: 2em;
		}
		dl.alt dt {
			display: block;
			width: 3em;
			margin: 0;
			clear: left;
			float: left;
		}
		dl.alt dd {
			margin: 0 0 0.85em 5.5em;
		}
		dl.alt:after {
			content: '';
			display: block;
			clear: both;
		}
	ul.alt li {
		border-top-color: rgba(255, 255, 255, 0.35);
	}
	dl dt {
		color: #ffffff;
	}
/* Section/Article */
	section.special, article.special {
		text-align: center;
	}
	header.major {
		margin-bottom: 3em;	
	
	}
		header.major h2 {
			font-size: 2em;
		}
			header.major h2:after {
				display: block;
				content: '';
				width: 3.25em;
				height: 2px;
				margin: 0.7em 0 1em 0;
				border-radius: 2px;
			}
				section.special header.major h2:after, article.special header.major h2:after {
					margin-left: auto;
					margin-right: auto;
				}
		header.major p {
			font-size: 1.25em;
			letter-spacing: -0.025em;
		}
		header.major.special {
			text-align: center;
		}
			header.major.special h2:after {
				margin-left: auto;
				margin-right: auto;
			}
	footer.major {
		margin-top: 3em;
	}
	@media screen and (max-width: 736px) {
		header.major {
			margin-bottom: 0;
		}
			header.major h2 {
				font-size: 1.5em;
			}
			header.major p {
				font-size: 1em;
				letter-spacing: 0;
			}
				header.major p br {
					display: none;
				}
		footer.major {
			margin-top: 0;
		}
	}
	header.major h2:after {
		background-color: rgba(255, 255, 255, 0.35);
	}
/* Table */
	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}
/* Features */
	.features {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		width: calc(100% + 2em);
		margin: 0 0 3em -2em;
		padding: 0;
		list-style: none;
	}
		.features li {
			width: calc(33.33333% - 2em);
			margin-left: 2em;
			margin-top: 3em;
			padding: 0;
		}
			.features li:nth-child(1), .features li:nth-child(2), .features li:nth-child(3) {
				margin-top: 0;
			}
			.features li > :last-child {
				margin-bottom: 0;
			}
		@media screen and (max-width: 980px) {
			.features li {
				width: calc(50% - 2em);
			}
				.features li:nth-child(3) {
					margin-top: 3em;
				}
		}
		@media screen and (max-width: 736px) {
			.features {
				width: 100%;
				margin: 0 0 2em 0;
			}
				.features li {
					width: 100%;
					margin-left: 0;
					margin-top: 2em;
				}
					.features li:nth-child(2), .features li:nth-child(3) {
						margin-top: 2em;
					}
		}
/* Stat table */
.stat, .stat2, .stat3, .stat4, .stat5, .stat6  {
	border-color: #7b6644;background-color: #f19d25;
}
.mainNavRight .nav > li > a {
.stat h4, .stat2 h4, .stat3 h4, .stat4 h4, .stat5 h4, .stat6 h4  {
	color: #fdd878 !important;
	text-transform: uppercase;background-color: #5b4634;
	font-weight: bold;
	color:  #ffeffc;
	padding: 10px 13px;
	text-decoration: none;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	background: none;
}
.mainNavRight .nav > li > a:hover, .mainNavRight .nav > li > a:focus {
	color: #f7b913;
}
.mainNavRight .nav > li > a.login {
	color: #5f3f6f;
	background: #cf6fbf;
	border-radius: 4px;
	padding: 10px 27px;
}
.mainNavRight .nav > li > a.signup {
	color: #5f3f6f;
	background: #fff;
	border-radius: 4px;
	padding: 10px 22px;
	margin-left: 15px;
}
.mainNavRight .nav > li > a.login:hover {
	background: #af6fbf;
	color: #65333a;
}
.mainNavRight .nav > li > a.signup:hover {
	background: #e7e0e0;
	color: #65333a;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
	background: none;
	margin-bottom: 5px;
	border-radius: 2px;
}
/*bannerContainer*/
.bannerContainer {
	width: 100%;
}
.bannerInner {
	width: 1000px;
	margin: 0 auto;
	padding: 40px 25px 35px;
	overflow: hidden;
}
.commonheader {
	width: 1000px;
	margin: 0 auto;
	padding:25px;
	overflow: hidden;
}
.ctn-banner {
	width: 48.5%;
	float: left;
	border: 3px solid #4f3f5f;
	padding-top: 170px;
	padding-bottom: 35px;
}
.ctn-banner h3, .commonheader h2 {
	font-size: 24px;
	color: #3f354f;
	text-align: center;
	margin: 0;
	font-weight: normal;
	padding-bottom: 20px;
	line-height: 24px;
	text-transform: uppercase;
}
.ctn-banner p span {
	color: #3f354f;
	padding: 0 5px;
}
.ctn-banner p {
	font-size: 18px;
	color: #3f354f;
	text-align: center;
	margin: 0;
	padding-bottom: 18px;
	line-height: 18px;
	text-transform: uppercase;
}
.bannerLeft {
	background: url(/img/bn-img1.png) rgba(220, 216, 225, 0.6) no-repeat center top 40px;
}
.bannerRight {
	float: right;
	background: url(/img/bn-img2.png) rgba(220, 216, 225, 0.6) no-repeat center top 40px;
}
/*balanceContainer*/
.balanceInner {
	margin: 0 auto;
	background: #f8cd61;
	padding: 12px 25px;
	overflow:hidden
}
.balanceInner h3 {
	display: inline-block;
	float: left;
	font-size: 23px;
	color: #45334a;
	margin: 0;
	padding: 13px 0;
	text-transform: uppercase;
	padding-right: 10px;
	text-align: center;
.stat table, .stat2 table, .stat3 table, .stat4 table, .stat5 table, .stat6 table  {
	background-color:  #fdd878;border-color: #7b6644;
}
.balanceInner a {
	color: #985880;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: normal;
	padding: 15px 15px;
	background: #fff;
	text-decoration: none;
	border-radius: 4px;
	line-height: 51px;
.stat th, .stat2 th, .stat3 th, .stat4 th, .stat5 th, .stat6 th {
	text-align: center;border-color: #7b6644 !important;
}
.balanceInner a:hover {
	background: #fcdde8;
.stat td, .stat2 td, .stat3 td, .stat4 td, .stat5 td, .stat6 td {
	border-color: #7b6644 !important;
}
/*commissionContainer*/
.commissionContainer {
/* Statistics */
.statistics {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	width: 100%;
	overflow: hidden
}
.commissionInner {
	width: 1080px;
	margin: 0 auto;
	background: #5f4f6f;
	padding: 35px 25px;
}
.cms-left {
	width: 40%;
	float: left;
}
.cms-left-row {
	width: 30%;
	float: left;
	text-align: center;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	cursor: default;
}
.cms-left-row p {
	display: inline-block;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
.statistics li {
	-moz-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 1.5em;
	color: #ffffff;
	text-align: center;
}
.cms-left-row1 {
	background: url(/img/cms-img1.png) transparent no-repeat center top;
	padding-top: 75px;
}
.cms-left-row2 {
	width: 35%;
	background: url(/img/cms-img2.png) transparent no-repeat center top;
	padding-top: 75px;
}
.cms-left-row3 {
	background: url(/img/cms-img3.png) transparent no-repeat center top;
	padding-top: 75px;
}
.cms-right {
	width: 60%;
	float: left;
}
.cms-right h3 {
	width: 100%;
	display: inline-block;
	font-weight: normal;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
}
.cms-right span {
	height: 3px;
	background: #f8cd61;
	width: 125px;
	display: inline-block;
	margin: 15px 0;
}
.cms-right h4 {
	width: 100%;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	color: #f8cd61;
	text-transform: uppercase;
	margin: 0;
}
/*Welcome_Account*/
.welcome_wrap {
	width: 100%;
	background: #f8cd61;
	padding: 12px 25px;
	overflow: hidden;
	margin: -40px 0 25px;
}
.welcomebox {
	width: 37%;
	float: left;
	font-size: 20px;
	color: #5f4f4f;
	text-transform: uppercase;
	padding: 6px 0 6px 60px;
	background: url(/img/welcome_icon.png) no-repeat left center;
}
.aff_box {
	width: 60%;
	float: right;
	text-align: left;
	font-size: 16px;
	color: #5f4f4f;
	padding: 10px 0 10px 58px;
	background: url(/img/affiliate_icon.png) no-repeat left center;
}
.member-right, .accountbalance_wrap {
	width: 100%;
	float: left;
}
.statistics li.style1 {background-color: #5b4634;border:1px solid #7b6644;}
.statistics li.style2 {background-color: #5b4634;border:1px solid #7b6644;}
.statistics li.style3 {background-color:#5b4634;border:1px solid #7b6644;}
.statistics li.style4 {background-color: #5b4634;border:1px solid #7b6644;}
.statistics li.style5 {background-color: #5b4634;border:1px solid #7b6644;}
.membersidebar {
	background: #5f4f6f;
	border: 2px solid #5f4f6f;
}
.membersidebar ul {
	width: 100%;
	padding: 0px
}
.membersidebar ul li {
.statistics li strong, .statistics li b {
	display: block;
	position: relative;
	padding: 0 0 0 56px
	font-size: 2em;
	line-height: 1.2;
	font-weight: 400;color: #ffc93f;
	letter-spacing: -0.035em;
}
.statistics li:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.statistics li:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.statistics li .icon {
display: inline-block;color: #5b4634;
background: rgb(253,187,42);
background: -moz-linear-gradient(left, rgba(253,187,42,1) 0%, rgba(234,155,34,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(253,187,42,1)), color-stop(100%,rgba(234,155,34,1)));
background: -webkit-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: -o-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: -ms-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: linear-gradient(to right, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
border:4px solid #fff;border-radius: 100%;height: 60px;line-height: 60px;width: 60px;
}
.statistics li .icon:before {
	font-size: 2.75rem;
	line-height: 1.3;
}
.membersidebar ul li a {
	display: block;
	color: #f9e2fc;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;line-height: 40px;height: 40px;
	border-bottom1: 1px solid #edbdff;
@media screen and (max-width: 980px) {
.statistics li strong, .statistics li b {
	font-size: 1.5em;
	}
}
.membersidebar ul li:last-child a {border:none}
.membersidebar ul li.acc1 {
	background: url(/img/acc1.png) no-repeat 6px center;
@media screen and (max-width: 736px) {
.statistics {
	display: block;
	width: 30em;
	max-width: 100%;
	margin: 0 auto 2em auto;
}
.membersidebar ul li.acc2 {
	background: url(/img/acc2.png) no-repeat 6px center;
.statistics li:first-child {
	border-bottom-left-radius: 0;
	border-top-right-radius: 8px;
}
.membersidebar ul li.acc3 {
	background: url(/img/acc3.png) no-repeat 6px center;
.statistics li:last-child {
	border-top-right-radius: 0;
	border-bottom-left-radius: 8px;
}
.membersidebar ul li.acc4 {
	background: url(/img/acc4.png) no-repeat 6px center;
.statistics li .icon:before {
	font-size: 3.75rem;
}
.membersidebar ul li.acc5 {
	background: url(/img/acc5.png) no-repeat 6px center;
.statistics li strong, .statistics li b {
	font-size: 2.5em;
}
.membersidebar ul li.acc6 {
	background: url(/img/acc6.png) no-repeat 6px center;
}
.membersidebar ul li.acc7 {
	background: url(/img/acc7.png) no-repeat 6px center;
/* Spotlight */
.spotlight {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	margin: 0 0 2em 0;
}
.membersidebar ul li.acc8 {
	background: url(/img/acc8.png) no-repeat 6px center;
.spotlight .content {
	-moz-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.membersidebar ul li.acc9 {
	background: url(/img/acc9.png) no-repeat 6px center;
.spotlight .content > :last-child {
	margin-bottom: 0;
}
.membersidebar ul li.acc10 {
	background: url(/img/acc10.png) no-repeat 6px center;
.spotlight .content header.major {
	margin: 0 0 2em 0;
}
.membersidebar ul li.acc11 {
	background: url(/img/acc11.png) no-repeat 6px center;
.spotlight .image {
	display: inline-block;
	margin-left: 4em;
	padding: 0.65em;
	border-radius: 0;
}
.membersidebar ul li:hover {
	background-color: #edbdff;
.spotlight .image img {
	display: block;
	width: 18em;
}
.membersidebar ul li:hover a {
	color: #25434a;
	text-decoration: none
.spotlight {
	font-size: 1.15em;
	letter-spacing: -0.025em;
}
@media screen and (max-width: 980px) {
/*Affiliate_Wrap*/
.spotlight {
	-moz-flex-direction: column-reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
	text-align: center;
}
.affiliate_wrap {
.spotlight .content {
	-moz-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 100%;
	float: left;
}
.registration, .last-access {
	width: 48%;
	float: left;
	margin: 0 4% 0 0;
	padding: 7px 10px 7px 70px;
	text-transform: uppercase;
}
.registration p, .last-access p {
	color: #37474f;
	margin: 0 0 10px;
}
.registration h2, .last-access h2 {
	margin: 0;font-weight: bold;
	font-size: 16px;
}
.last-access {
	margin-right: 0
.spotlight .content header.major h2:after {
	margin-left: auto;
	margin-right: auto;
}
.registration {
	background: url(/img/regdate.png) no-repeat 0 center;
.spotlight .image {
	-moz-flex: 0 1 auto;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	margin-left: 0;
	margin-bottom: 2em;
}
.last-access {
	background: url(/img/lastaccess.png) no-repeat 0 center;
}
.account_balance, .earned_total {
	padding: 20px 20px 20px 190px;
	color: #fff;
	margin: 25px 0 0 0;
	position:relative;
@media screen and (max-width: 736px) {
.spotlight .image {
	padding: 0.35em;
}
.accountbalance .account_balance {
background: url(/img/statistTopContainer_left.png) no-repeat 20px 20px #5f4f6f;
.spotlight .image img {
	width: 12em;
}
.accountbalance .earned_total {
background: url(/img/statistTopContainer_right.png) no-repeat 20px 20px #5f4f6f;
}
.account_balance h3, .earned_total h3 {
	font-size: 20px;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
.spotlight .image {
	border-color: rgba(255, 255, 255, 0.35);
}
.account_balance p, .earned_total p {
	font-size: 30px;
	color: #edbdff;
	margin: 0 0 10px;
/* Header */
#header {
	padding: 2em 5em 1em 5em ;
	text-align: center;
}
span.butn {
	position: absolute;
	top: 17px;
	right: 17px;
	text-transform: uppercase;
#header.alt > * {
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	transition: opacity 0.5s ease;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
	opacity: 1;
}
span.butn a {
	color: #5f4f6f;
	font-size: 13px;
#header.alt .logo {
	-moz-transition: opacity 0.25s ease, -moz-transform 0.3s ease;
	-webkit-transition: opacity 0.25s ease, -webkit-transform 0.3s ease;
	-ms-transition: opacity 0.25s ease, -ms-transform 0.3s ease;
	transition: opacity 0.25s ease, transform 0.3s ease;
	-moz-transition-delay: 0s;
	-webkit-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
	display: block;
	background: #fff;
	padding: 5px 18px;
	border-radius: 2px;
}
span.butn a:hover {
	background: #9c7de8;
	margin: 0 0 1.5em 0;
}
.btn-butn {
	color: #5f4f6f;
	font-size: 13px;
#header.alt .logo img {
	display: block;
	background: #fff;
	text-transform: uppercase;
	padding: 5px 18px;
	border-radius: 2px;
}
.btn-butn:hover {
	background: #9cdde8;
}
.account_balance table td, .earned_total table td{
	border: 1px solid #9f7f8f;
	margin-bottom: 3px;
	color: #e2d1da;
}
.my_accont {
padding:25px 0 0 0;
width:100%;
float:left;
}
.tab-content {
padding:10px;
width:100%;
float:left;
border:1px solid #fff;
	margin: 0 auto;
	max-width: 75%;
}
.dailyInner {
    width: 1080px;
    margin: 0 auto;
    background: #e2c6d4;
    overflow: hidden;
    padding: 41px 25px;
body.is-loading #header.alt > * {
	opacity: 0.1;
}
/*contentTopContainer*/
.contentTopContainer {
	width: 100%;margin: -15px;
body.is-loading #header.alt .logo {
	-moz-transform: scale(0.8) rotate(-720deg);
	-webkit-transform: scale(0.8) rotate(-720deg);
	-ms-transform: scale(0.8) rotate(-720deg);
	transform: scale(0.8) rotate(-720deg);
}
.contentTopInner {
	width: 1080px;
@media screen and (max-width: 580px) {
#header.alt .logo img {
	display: block;
	margin: 0 auto;
	background: #fff;
	overflow: hidden;
	padding: 33px 25px;
}
.ctn-left {
	width: 53%;
	float: left;
}
.ctn-left h3 {
	margin: 0;
	color: #52717a;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
	max-width: 95% !important;
}
.contentTopContainer p {
	margin: 0;
	color: #52717a;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
}
.ctn-left p {
	text-align: justify;
}
.ctn-right {
	width: 42%;
	float: right;
#main {
	background: #5b4b34;
	border: 6px solid #5b4b34;
	margin-top: -6px;
}
.promo {
background: rgb(253,187,42);
background: -moz-linear-gradient(left, rgba(253,187,42,1) 0%, rgba(234,155,34,1) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(253,187,42,1)), color-stop(100%,rgba(234,155,34,1)));
background: -webkit-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: -o-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: -ms-linear-gradient(left, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
background: linear-gradient(to right, rgba(253,187,42,1) 0%,rgba(234,155,34,1) 100%);
color: #5b4b34;border-top: 2px solid #fdd878 !important;padding-top: 5em !important;
}
.promo h1{color: #f19d25 !important;font-weight: bold;text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;font-family: 'Russo One', sans-serif;letter-spacing: 1px;}
.promo p {font-size: 150% !important;}
.promo a {
    position: relative;
    font-weight: bold;
    font-size: 27px;
    color: white;
    text-transform: uppercase;
    display: block;
    text-align: center;
    line-height: 54px;
    max-width: 377px;
    border: 5px solid white;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
    background: #7b6644;
    background: -moz-linear-gradient(top, #7b6644 0%, #67553a 51%, #5d4c35 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b6644), color-stop(51%,#67553a), color-stop(100%,#5d4c35));
    background: -webkit-linear-gradient(top, #7b6644 0%,#67553a 51%,#5d4c35 100%);
    background: -o-linear-gradient(top, #7b6644 0%,#67553a 51%,#5d4c35 100%);
    background: -ms-linear-gradient(top, #7b6644 0%,#67553a 51%,#5d4c35 100%);
    background: linear-gradient(to bottom, #7b6644 0%,#67553a 51%,#5d4c35 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b6644', endColorstr='#5d4c35',GradientType=0 );
    text-shadow: -2px 0px 0 #4f3611, 0px -2px 0 #4f3611, 0px 2px 0 #4f3611, 2px 0px 0 #4f3611;
}
.promo a:hover {background: #4f3611 !important;text-decoration: none;}
/* Navbar */
@media screen and (max-width: 796px) {
.navbar-default {
	margin-top: -20px !important;
}
.ctn-right-part {
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
}
.ctn-right-part h4 {
	margin: 0;
	color: #52717a;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 3px;
}
.ctn-right-part1 {
	background: url(/img/ctn-img1.png) transparent no-repeat left;
	padding: 13px 0px;
	padding-left: 145px;
}
.ctn-right-part2 {
	background: url(/img/ctn-img2.png) transparent no-repeat left;
	padding: 14px 0;
	padding-left: 145px;
}
.account_deposit .bannerInner {padding:0; width:100%}
.account_deposit .ctn-banner p{font-size:14px}
.account_deposit .ctn-banner{padding-bottom:10px}
.ctn-bot-left .tab-content {border:none; padding:0px;}
.ctn-bot-left .nav-tabs > li{width:45%}
.invs {
background:#fff;
}
/*contentBotContainer*/
.contentBotContainer {
	width: 100%;margin-left: -15px;margin-bottom: -30px;
}
.contentBotInner {
	width: 1080px;
	margin: 0 auto;
	background: #5f3f54;
	padding: 24px 25px 42px;
	overflow: hidden;
.navbar-default {
	margin-bottom: 0px;
	border-radius: 0.25em 0.25em 0 0;
	background: #5b4b34;
	border-color: #fdd878;border: none;
	
}
.ctn-bot-left {
	width: 50%;
	float: left;
.navbar-default a{ color: #fffaf7 !important;padding-top: 16px !important;text-transform: uppercase;font-size: 18px;font-family: 'Russo One', sans-serif;}
.navbar-default a:hover{ color: #fdb828 !important;}
.navbar-right li a{color: #fdd878 !important;}
.navbar-right li a:hover{}
.navbar-right .dropdown-menu {background-color: #6b5b44;}
.dropdown-menu li a{border: none;font-size: 16px;font-weight: bold;color: #f7f7f7 !important;padding: 4px;}
.dropdown-menu li a:hover{background: none !important;}
.dropdown a:focus {
    color: #fff;background: none !important;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.dropdown a:focus, a:hover {
    color: #fff;background: none !important;
    text-decoration: underline;
}
.navbar-default .navbar-toggle {
	border-color: fdd878;color: #fff !important;
}
.nav-tabs {
	border: 0;
/* Main */
	#main {
		background-color: #ffffff;
		color: #5b4b34;
		border-radius: 0 0 0.25em 0.25em;
	}
		#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
			color: #5b4b34;
		}
		#main blockquote {
			border-left-color: #dddddd;
		}
		#main code {
			background: rgba(222, 222, 222, 0.25);
			border-color: #dddddd;
		}
		#main hr {
			border-bottom-color: #dddddd;
		}
		#main .box {
			border-color: #dddddd;
		}
		#main .select-wrapper:before {
			color: #dddddd;
		}
		#main .icon.major {
			border-color: #dddddd;
		}
			#main .icon.major:before {
				border-color: #dddddd;
			}
		#main .icon.alt {
			border-color: #dddddd;
			color: #636363;
		}
			#main .icon.alt:hover {
				background-color: rgba(222, 222, 222, 0.25);
			}
			#main .icon.alt:active {
				background-color: rgba(222, 222, 222, 0.5);
			}
		#main ul.alt li {
			border-top-color: #dddddd;
		}
		#main header.major h2:after {
			background-color: #f19d25;height: 6px;margin-top: 10px;
		}
		#main .spotlight .image {
			border-color: #dddddd;
		}
		#main > .main {
			padding: 2em 3em 2em 3em ;
			border-top: solid 1px #dddddd;
		}
			#main > .main:first-child {
				border-top: 0;
			}
			#main > .main > .image.main:first-child {
				margin: -5em 0 5em -5em;
				width: calc(100% + 10em);
				border-top-right-radius: 0.25em;
				border-top-left-radius: 0.25em;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
				#main > .main > .image.main:first-child img {
					border-top-right-radius: 0.25em;
					border-top-left-radius: 0.25em;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}
/* Form */
.form-control {
	margin: -5px 0 10px 0;line-height: 46px;height: 46px;
}
.form-control::-moz-placeholder {
    color: #999 !important;
    opacity: 1;
}
.btn {
	border-radius: 8px;
}
.btn-default {
	color: #5b4b34;
	border-color: #5b4b34;
	border-width: 2px;
}
.btn-default:hover, .btn-default:focus, .btn-default:active  {
	color: #4b3b24;
	background-color: #fff6f4 !important;
	border-color: #4b3b24 !important;
	border-width: 2px;
}
/* Footer */
#footer {
	padding: 1em 5em ;
}
.btt ul li a {
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
#footer .copyright {
	font-size: 0.8em;
	text-align: center;
	color: #fff;
	width: 100%;
	border-radius: 0;
	border: 0;
	padding: 11px 0;
}
.btt ul li a.latest-part1 {
	border-radius: 4px 4px 0 0;
	border: 1px solid #f8cd61;
	border-bottom: 0;
	border-left: 5px solid #f8cd61;
}
.btt ul li a.latest-part2 {
	border: 1px solid #f8cd61;
	border-radius: 4px 4px 0 0;
	margin-left: 10px;
	border-bottom: 0;
}
.ctn-latest-part1 ul {
	width: 100%;
	padding: 0;
}
.ctn-latest-part1 ul li {
	list-style-type: none;
	width: 100%;
	margin: 0;
	color: #feecf7;
	font-size: 13px;
	font-weight: normal;
	border-left: 5px solid #f8cd61;
	padding: 11px 17px;
	background: #886d81;
	line-height: 13px;
	margin-bottom: 2px;
}
.ctn-latest-part1 ul li p {
	display: inline-block;
	padding-left: 20%;
	margin: 0;
}
.ctn-latest-part1 ul li span {
    display: inline-block;
    float: right;
    color: white;
    max-width: 150px;
    overflow: hidden;
.copyright a{
	color: #cb4b34;
}
.ctn-latest-part1 ul li span a {color:white;}
/* Wrapper */
.ctn-bot-right {
	width: 48%;
	float: right;
}
.ctnRight-part1 {
	width: 100%;
	overflow: hidden;
	margin-top: 45px;
#wrapper {
	width: 64em;
	max-width: calc(100% - 4em);
	margin: 0 auto;
}
.ctnRight-part2 {
	margin-top: 20px;
/* Competition */
.competition div {
	padding: 2px;position: relative;margin: 11px 50px;background: #dde;border-radius: 4px;
}
.ctnRight-part1-row {
	border: 1px solid #f8cd61;
	text-align: center;
.competition img {
	border-radius: 2em;padding: 2px 3px;border: 1px solid #ddd;background: #fff;position: absolute; left: 7px;top: -5px;
}
.ctnRight-part1-row h3 {
	color: #f8cd61;
	font-size: 30px;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 15px;
/* Sidebar */
.sidebar {background:#6b5b44;border: 2px solid #5b4b34;border-radius: 2px;text-transform: uppercase;font-size: 18px;}
.sidebar:hover{background: #5b4b34;border-top: 2px solid #fdd878;border-bottom: 2px solid #fdd878;}
.sidebar a, .sidebar2 a, .sidebar3 a, .sidebar4 a, .sidebar5 a, .sidebar6 a {color: #fff;font-weight: bold;text-decoration: none;display: block;padding: 15px 5px;}
.sidebar span, .sidebar2 span, .sidebar3 span, .sidebar4 span, .sidebar5 span, .sidebar6 span {font-size: 32px;color: #fdd878;}
/* Panel Dasboard */
.pnl {
	background-color: #f7f7f7;
	border-radius: 2px;font-weight1: 400;}
.pnl-head {padding: 5px 8px;}
.pnl .badge {font-size: 18px !important;background: #9bb2e1;padding: 3px 7px;border-radius: 4px;}
.pnl .list-group {border1: 0;}
.pnl3 {background-color: #8cc9b0;color: #fff;}.pnl3 .badge {font-size: 16px !important;background: #7cc9b0;}
.pnl3 .list-group li{background: rgba(255,255,255,0.2);color: #fff;border-color: rgba(115,165,155,0.3);}
.img-car {
	width: 70%;
	margin: 30px auto;
}
.ctnRight-part1-row p {
	color: #fff;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.ctnRight-part1-row1 {
	width: 48%;
	float: left;
	background: url(/img/last-img1.png) transparent no-repeat center top 15px;
	padding-top: 85px;
}
.ctnRight-part1-row2 {
	width: 48%;
	float: right;
	background: url(/img/last-img2.png) transparent no-repeat center top 15px;
	padding-top: 85px;
}
.ctnRight-part1-row3 {
	width: 48%;
	float: left;
	background: url(/img/last-img3.png) transparent no-repeat center top 15px;
	padding-top: 85px;
}
.ctnRight-part1-row4 {
	width: 48%;
	float: right;
	background: url(/img/last-img4.png) transparent no-repeat center top 15px;
	padding-top: 85px;
}
.tarif {
	margin-top: 25px;
	padding: 15px 15px 0;
	background: #5f4f6f;
	color: #e2d1da;
}
.tarif .ava {
	height: 90px;
	color: #5f4f6f;
	background: #e2d1da; text-align: center;
	line-height: 90px; font-size: 46px;
}
.tarif table td {
    border: 1px solid #886d81;
    margin-bottom: 3px;
    color: #e2d1da;
.bfon {background: #5b4b34;
}
